accessible-pygments==0.0.5
alabaster==1.0.0
anyio==4.14.2
appdirs==1.4.4
arch==8.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.2
async-lru==2.3.0
attrs==26.1.0
babel==2.18.0
backports.zstd==1.7.0
beautifulsoup4==4.15.0
bleach==6.4.0
Brotli==1.2.0
cached-property==1.5.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
clarabel==0.11.1
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
curl_cffi==0.15.0
cvxopt==1.3.3
cvxpy==1.9.2
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
defusedxml==0.7.1
docutils==0.22.4
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.22.2
fonttools==4.63.0
formulaic==1.2.2
fqdn==1.5.1
fredapi==0.5.2
frozendict==2.4.7
greenlet==3.5.5
h11==0.16.0
h2==4.4.1
highspy==1.15.1
hpack==4.2.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.19
imagesize==2.0.1
importlib_metadata==9.0.0
interface_meta==2.0.1
ipykernel==7.3.0
ipympl==0.10.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.9
isoduration==20.11.0
jedi==0.20.0
Jinja2==3.1.6
joblib==1.5.3
json5==0.15.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_builder==1.2.2
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_server==2.20.0
jupyter_server_terminals==0.5.4
jupyterlab==4.6.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.17
kiwisolver==1.5.0
lark==1.3.1
llvmlite==0.49.0
lxml==6.1.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
matplotlib-inline==0.2.2
mdurl==0.1.2
mistune==3.3.4
mpmath==1.4.1
multitasking==0.0.13
munkres==1.1.4
narwhals==2.24.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.1
nest-asyncio2==1.7.2
notebook==7.6.2
notebook_shim==0.2.4
numba==0.67.0
numpy==2.5.2
openpyxl==3.1.5
osqp==1.1.3
overrides==7.7.0
packaging==26.3
pandas==2.2.3
pandas-datareader==0.11.1
pandocfilters==1.5.0
parso==0.8.7
patsy==1.0.2
peewee==4.3.0
pillow==12.3.0
pip==26.2.1
platformdirs==4.11.3
polars==1.43.2
polars-runtime-32==1.43.2
prometheus_client==0.26.0
prompt_toolkit==3.0.53
protobuf==7.35.1
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
pyarrow==25.0.1
pycparser==3.0
pydata-sphinx-theme==0.21.0
Pygments==2.21.0
pyparsing==3.3.2
PySide6==6.11.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-json-logger==4.2.0
pytz==2026.3.post1
pywin32==312
pywinpty==3.0.5
PyYAML==6.0.3
pyzmq==27.1.0
qdldl==0.1.9.post1
referencing==0.37.0
requests==2.34.2
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
roman-numerals==4.1.0
rpds-py==2026.6.3
scikit-learn==1.9.0
scipy==1.18.0
scs==3.2.11
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==84.0.0
shiboken6==6.11.1
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.1.1
soupsieve==2.9.2
Sphinx==9.1.0
sphinx-autodoc-typehints==3.13.5
sphinx-math-dollar==1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.52
stack_data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
terminado==0.18.1
threadpoolctl==3.6.0
tidyfinance==0.5.0
tinycss2==1.4.0
tomli==2.4.1
tornado==6.5.8
traitlets==5.16.1
typing_extensions==4.16.0
typing_utils==0.1.0
tzdata==2026.3
uri-template==1.3.0
urllib3==2.7.0
wcwidth==0.8.2
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==17.0.1
widgetsnbextension==4.0.16
win_inet_pton==1.1.0
wrapt==2.4.0rc4
wrds==3.5.0
yfinance==1.6.0
zipp==4.1.0